<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.WebPages"/>
      </assemblies>
      <buildProviders>
        <add type="OpenRasta.Codecs.Razor.OpenRastaRazorBuildProvider, OpenRasta.Codecs.Razor" extension=".cshtml"/>
      </buildProviders>
    </compilation>
      <httpHandlers>
        <add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet, 
             Version=2.0.1.0, Culture=neutral"/>
      </httpHandlers>
      <httpModules>
        <add name="RastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet, 
             Version=2.0.1.0, Culture=neutral"/>
      </httpModules>
    <pages>
      <namespaces>
        <add namespace="OpenRasta.Web"/>
        <add namespace="OpenRasta.Web.Markup"/>
        <add namespace="OpenRasta.Codecs.Razor"/>
        <add namespace="OpenRasta" />
        <add namespace="OpenRasta_Demo.Handlers"/>
        <add namespace="OpenRasta_Demo.Resources"/>
      </namespaces>
    </pages>
  </system.web>

</configuration>
